@charset "UTF-8";

/*!
 * custom.css 
 * Version - 1.0
 */


/*--------------------
  Page top section v.2
---------------------*/
.page-top-section-2 {
	height: 330px;
	padding-top: 170px;
}

.page-top-section-2 h2 {
	color: #fff;
}



/*--------------------
  Favicon v.2
---------------------*/
.reservation-item {
	text-align: center;
	padding-bottom: 25px
}

.reservation-item i {
	color: #eb2b63;
	font-size: 50px;
}


/*--------------------
  Reservation v.2
---------------------*/
.reservation-detail h3{
	text-align: center;
}


/*--------------------
  Seats v.2
---------------------*/
.details-body {
	background: #eef6f9;
	text-align: center;
	padding: 54px 68px 52px;
	border-radius: 14px;
}